body {
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-top: 20px;
}

nav {
    margin-bottom: 20px;
}

.tabs .tab a {
    font-size: 1rem;
    color: #333;
}

.tab a.active {
    color: #0d47a1; /* Material blue */
}

footer {
    margin-top: 20px;
}

button {
    width: 100%;
    margin-top: 10px;
}
